body{
font-family: Arial;
margin:0;
background:#f5f7fb;
}

header{
background:#4a6cf7;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:100px;
background:linear-gradient(120deg,#4a6cf7,#6a8dff);
color:white;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
